@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/*
Обнуление
*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
a{
  text-decoration: none;
  color: inherit;
}
ul{
  list-style: none;
}

body{
  background-color: #000000;
  font-family: 'Ubuntu';
  color:#FFFFFF;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
.container{
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

img{
  max-width: 100%;
}

h1,h2,h3,h4,h5,
h6 {
font-weight:normal;
}


.container {
  max-width: 1300px;
}


/*
header
*/
.header {
  padding-top: 10px;
}
.header__container {
  display: flex;
  justify-content: space-around;
}
.header__block__container{
  position: relative;
  padding-top: 36px;
  max-width: 465px;
  display: flex;
  align-items: center;
}
.header__phone__container{
  display: flex;
  padding-top: 41px;
  max-width: 229px;
  align-items: flex-end;
}
.header__logo {
  max-width: 110px;
  min-height:110px;
  margin-bottom: 30px;
}
.header__block {
  margin-bottom: 56px;
}
.header__block p{
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}
.header__block__image{
  max-width: 38px;
  min-height: 40px;
  margin-right: 20px;
  position: relative;
}
.header__block__image img:nth-child(1){
  
}
.header__block__image img:nth-child(2){
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -100%);
}
.header__block p:last-child{
  margin: 0;
}
.header__phone__img{
  max-width: 40px;
  min-height: 40px;
  margin-right: 15px;
}
.header__phone {
  margin-bottom: 61px;
}
.header__phone p:nth-child(1){
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  text-align: right;
}
.header__phone p:nth-child(2){
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  text-align: right;
  text-decoration-line: underline;
}

/*
first block
*/

.main {
  background: url('../img/firstblock.png') no-repeat center top ;

}
.main__container {
}

.main__txt-block {
  margin-bottom: 154px;
  max-width: 330px;
  padding-top: 85px;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  
}
.main__txt-block__second{
  max-width: 410px;
  margin-bottom: 150px;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
}


.main__txt-block__title {
  display: flex;
  justify-content: space-between;
}

.title {
  font-weight: 700;
  font-size: 72px;
  line-height: 120%;
  text-transform: uppercase;
}
.btn {
  position: relative;
  background: #F9BA50;
  max-width: 277px;
  border-radius: 0px 40px 40px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.main__button{
  margin-right: 111px;
  margin-bottom: 137px;
  padding: 15px 40px;
}
.main__button__image {
  margin-right: 54px;
  max-width:25px;
  min-height:12px;  
}

.main__button__txt {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}
.main__bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 197px;
}
/*
About
*/

.about {
 

}
.about__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 300px;
}
.about__image{
  position: relative;
  margin-right: 120px;
}
.about__image__second{  
  max-width: 384px;
  min-height: 384px;
  position: absolute;
  left: 30%;
  top: 60%;
  border: 2px solid #FFFFFF;
  border-radius: 192px;
  padding: 18px;
}

.about__column{

}
.about__title {
  margin-right: 100px;
  margin-bottom: 60px;
  
}

.about__text {
  max-width: 720px;
  font-weight: 500;
  font-size: 18px;
  line-height: 170%;
  margin-bottom: 80px;
}
.about__button {
  margin-right: 243px;
  
}

.about__button__image {
  position: absolute;
  left:-43.5%;
  top:35%;
}
.about__button__txt {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-right: 79px;
  padding-left:79px ;
}

/*
Trainers
*/

.trainers {
}
.trainers__container {
  margin-bottom: 150px;
}

.trainers__title {
  margin-bottom: 100px;
}

.trainers__main {
  display: flex;
  position: relative;
  
}
.trainers__first-block {
  margin-right: 30px;
}
.trainers__first-block img{
  position: relative;
}
.trainers__first-block__txt {
  position: absolute;
  top:90.5%;
}
.trainers__first-block__txt p:first-child{
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke:  2px  #FFFFFF;
  margin-right: 10px;
}
.txt {
  display: flex;
  font-weight: 700;
  font-size: 64px;
  line-height: 120%;
  text-transform: uppercase;
}
.trainers__second-block {
 
}
.trainers__second-block img{
  position: relative;
}
.trainers__second-block__sub {
  position: absolute;
  top:73%;
}
.trainers__second-block__sub p:first-child{
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke:  2px  #FFFFFF;
  margin-right: 10px;
}
.trainers__second-block__txt {
  position: absolute;
  top:90%;
  max-width: 630px;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
}
/*
Category
*/

.category {
}
.category__container {

  margin-bottom: 150px;
}
.category__title {
  margin-bottom: 100px;
}

.category__image-block {
  display: flex;


}
.category__image-block__first {
  background: url('../img/firstblockbg.png') no-repeat center ;

  flex: 1 1 25%

  
}
.text {
  font-weight: 500;
  font-size: 48px;
  line-height: 120%;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke:  2px  #FFFFFF;
  text-align: center;
  max-width: 480px;
  min-height: 700px;
  padding-top:320px ;
  
}
.category__image-block__second {
  background: url('../img/secondblock.png') no-repeat center;

  flex: 1 1 25%

}
.category__image-block__third {
  background: url('../img/thirdblock.png') no-repeat center;

  flex: 1 1 25%

}
.category__image-block__four {
  background: url('../img/fourblock.png') no-repeat center;
 
  flex: 1 1 25%

}
/*
Shedule
*/
.shedule {
}
.shedule__container {
  margin-bottom: 150px;
}

.shedule__title {
  margin-bottom: 100px;
}

.shedule__main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:30px;
}
.shedule__main__block-one {
  flex:1 1 10%;
}
.block {
  background: #17171A;
  max-width: 410px;
}
.shedule__main__block-one__txt-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.shedule__main__block-one__txt-top p:first-child{
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  padding-top: 30px;
  padding-left: 30px;
}
.shedule__main__block-one__txt-top p:last-child{
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  padding-top: 50px;
  padding-right: 30px;
}
.shedule__main__block-one__txt {
  max-width: 350px;
  margin-bottom: 60px;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  padding: 0px 30px;
}
.shedule__main__block-one__txt-bottom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.shedule__main__block-one__txt-bottom p:first-child{
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  padding-left: 30px;
  
}
.shedule__main__block-one__txt-bottom p:last-child{
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-align: right;
  text-decoration-line: line-through;
  padding-right: 30px;
  padding-top: 12px;

}
.shedule__button {
  max-width: 350px;
  margin-bottom: 40px;
  padding: 15px 65px;
  margin-left: 30px;
  margin-right: 30px;
}
.shedule__button__image { 
  margin-right: 20px;
  max-width:25px;
  min-height:12px;
}
.shedule__button__txt {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}

.shedule__main__block-two {
  flex:1 1 10%;
}

.shedule__main__block-two__txt-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.shedule__main__block-two__txt-top p:first-child{
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  padding-top: 30px;
  padding-left: 30px;
}
.shedule__main__block-two__txt-top p:last-child{
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  padding-top: 50px;
  padding-right: 30px;
}
.shedule__main__block-two__txt {
  max-width: 350px;
  margin-bottom: 60px;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  padding: 0px 30px;
}
.shedule__main__block-two__txt-bottom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.shedule__main__block-two__txt-bottom p:first-child{
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  padding-left: 30px;
  
}
.shedule__main__block-two__txt-bottom p:last-child{
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-align: right;
  text-decoration-line: line-through;
  padding-right: 30px;
  padding-top: 12px;

}

.shedule__main__block-three {
  flex:1 1 10%;
}

.shedule__main__block-three__txt-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.shedule__main__block-three__txt-top p:first-child{
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  padding-top: 30px;
  padding-left: 30px;
}
.shedule__main__block-three__txt-top p:last-child{
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  padding-top: 50px;
  padding-right: 30px;
}
.shedule__main__block-three__txt {
  max-width: 350px;
  margin-bottom: 60px;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  padding: 0px 30px;
}
.shedule__main__block-three__txt-bottom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.shedule__main__block-three__txt-bottom p:first-child{
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  padding-left: 30px;
  
}
.shedule__main__block-three__txt-bottom p:last-child{
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-align: right;
  text-decoration-line: line-through;
  padding-right: 30px;
  padding-top: 12px;

}

.shedule__main__block-four {
  flex:1 1 10%;
}

.shedule__main__block-four__txt-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.shedule__main__block-four__txt-top p:first-child{
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  padding-top: 30px;
  padding-left: 30px;
}
.shedule__main__block-four__txt-top p:last-child{
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  padding-top: 50px;
  padding-right: 30px;
}
.shedule__main__block-four__txt {
  max-width: 350px;
  margin-bottom: 60px;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  padding: 0px 30px;
}
.shedule__main__block-four__txt-bottom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.shedule__main__block-four__txt-bottom p:first-child{
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  padding-left: 30px;
  
}
.shedule__main__block-four__txt-bottom p:last-child{
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-align: right;
  text-decoration-line: line-through;
  padding-right: 30px;
  padding-top: 12px;

}

.shedule__main__block-five {
  flex:1 1 10%;
}

.shedule__main__block-five__txt-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.shedule__main__block-five__txt-top p:first-child{
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  padding-top: 30px;
  padding-left: 30px;
}
.shedule__main__block-five__txt-top p:last-child{
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  padding-top: 50px;
  padding-right: 30px;
}
.shedule__main__block-five__txt {
  max-width: 350px;
  margin-bottom: 60px;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  padding: 0px 30px;
}
.shedule__main__block-five__txt-bottom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.shedule__main__block-five__txt-bottom p:first-child{
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  padding-left: 30px;
  
}
.shedule__main__block-five__txt-bottom p:last-child{
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-align: right;
  text-decoration-line: line-through;
  padding-right: 30px;
  padding-top: 12px;

}

.shedule__main__block-six {
  flex:1 1 10%;
}

.shedule__main__block-six__txt-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.shedule__main__block-six__txt-top p:first-child{
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  padding-top: 30px;
  padding-left: 30px;
}
.shedule__main__block-six__txt-top p:last-child{
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  padding-top: 50px;
  padding-right: 30px;
}
.shedule__main__block-six__txt {
  max-width: 350px;
  margin-bottom: 60px;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  padding: 0px 30px;
}
.shedule__main__block-six__txt-bottom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.shedule__main__block-six__txt-bottom p:first-child{
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  padding-left: 30px;
  
}
.shedule__main__block-six__txt-bottom p:last-child{
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-align: right;
  text-decoration-line: line-through;
  padding-right: 30px;
  padding-top: 12px;

}

/*
Instagtam Block
*/

.insta {
}
.insta__container {
  margin-bottom: 150px;
}
.insta__title {
  margin-bottom: 100px;
}
.insta__image-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.insta__image-block img{
  margin-bottom: 30px;
}

.footer {
}
.footer__container {
  margin-bottom: 140px;
  display: flex;
  justify-content: space-between;
}

.footer__left-block {
  max-width: 410px;
}

.footer__left-block p:last-child{
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;  
}
.footer__left-block__image{
  margin-bottom: 44px;
}
.footer__left-block__logo {
  margin-bottom: 44px;
}
.footer__left-block__logo img{
  margin-right: 52px;
  
}
.footer__left-block__text{
  margin-bottom: 43px;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
}
.footer__mid-block {
  padding-top: 40px;
  max-width: 172px;
}
.footer__mid-block__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;  
  margin-bottom: 63px;
}
.footer__mid-block__menu {
}
.footer__mid-block__menu__list {

}
.footer__mid-block__menu-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;    
  margin-bottom: 30px;
}

.footer__mid-block__menu-link {
}
.footer__right__block {
  max-width: 410px;
  padding-top: 40px;
}
.footer__right__block__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;  
  margin-bottom: 63px;
  
}
.footer__right__block-first {

}
.footer__right__block-first p{
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 30px;
}
.footer__right__block__subtitle {
}
.subtitle {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #F9BA50;
  margin-bottom: 15px;
}
.footer__right__block-second {
}
.footer__right__block-second p{
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 30px;
}
.footer__right__block__subtitle-two {
}
.footer__right__block-third{

}
.footer__right__block-third p{
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 36px;
}
.footer__right__block-third p:last-child{
  margin:0;
}
.footer__right__block__subtitle-three {
}
