@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/*
Обнуление
*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
a{
  text-decoration: none;
  color: inherit;
}
ul{
  list-style: none;
}

body{
  background-color: #000000;
  font-family: 'Ubuntu';
  color:#FFFFFF;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
.container{
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

img{
  max-width: 100%;
}

h1,h2,h3,h4,h5,
h6 {
font-weight:normal;
}


.container {
  max-width: 1300px;
}


/*
header
*/
.header {
  padding-top: 10px;
}
.header__container {
  display: flex;
  justify-content: space-around;
}
.header__block__container{
  position: relative;
  padding-top: 36px;
  max-width: 465px;
  display: flex;
  align-items: center;
}
.header__phone__container{
  display: flex;
  padding-top: 41px;
  max-width: 229px;
  align-items: flex-end;
}
.header__logo {
  max-width: 110px;
  min-height:110px;
  margin-bottom: 30px;
}
.header__block {
  margin-bottom: 56px;
}
.header__block p{
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}
.header__block__image{
  max-width: 38px;
  min-height: 40px;
  margin-right: 20px;
  position: relative;
}
.header__block__image img:nth-child(1){
  
}
.header__block__image img:nth-child(2){
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -100%);
}
.header__block p:last-child{
  margin: 0;
}
.header__phone__img{
  max-width: 40px;
  min-height: 40px;
  margin-right: 15px;
}
.header__phone {
  margin-bottom: 61px;
}
.header__phone p:nth-child(1){
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  text-align: right;
}
.header__phone p:nth-child(2){
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  text-align: right;
  text-decoration-line: underline;
}

/*
first block
*/

.main {
  background: url('../img/firstblock.png') no-repeat center top ;

}
.main__container {
}

.main__txt-block {
  margin-bottom: 154px;
  max-width: 330px;
  padding-top: 85px;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  
}
.main__txt-block__second{
  max-width: 410px;
  margin-bottom: 150px;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
}


.main__txt-block__title {
  display: flex;
  justify-content: space-between;
}

.title {
  font-weight: 700;
  font-size: 72px;
  line-height: 120%;
  text-transform: uppercase;
}
.btn {
  position: relative;
  background: #F9BA50;
  max-width: 277px;
  border-radius: 0px 40px 40px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.main__button{
  margin-right: 111px;
  margin-bottom: 137px;
  padding: 15px 40px;
}
.main__button__image {
  margin-right: 54px;
  max-width:25px;
  min-height:12px;  
}

.main__button__txt {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}
.main__bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 197px;
}
/*
About
*/

.about {
 

}
.about__container {
  display: flex;
  justify-content: space-between;
}
.about__image{
  position: relative;
  margin-right: 120px;
}
.about__image__second{  
  max-width: 384px;
  min-height: 384px;
  position: absolute;
  left: 30%;
  top: 60%;
  border: 2px solid #FFFFFF;
  border-radius: 192px;
  padding: 18px;
}

.about__column{

}
.about__title {
  margin-right: 100px;
  margin-bottom: 60px;
  
}

.about__text {
  max-width: 720px;
  font-weight: 500;
  font-size: 18px;
  line-height: 170%;
  margin-bottom: 80px;
}
.about__button {
  margin-right: 243px;
  
}

.about__button__image {
  position: absolute;
  left:-43.5%;
  top:35%;
}
.about__button__txt {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-right: 79px;
  padding-left:79px ;
}
